*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 90%;
  max-width: 600px;
  height: auto;
}

.swiper-slide {
  background: #54c2c2;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 2px 2px 10px #111;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
button {
  padding: 10px 20px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.swiper-slide div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    position: relative;
    height: 40px;
}
.swiper-slide div h2{
    text-transform: capitalize;
    position: absolute;
    left: 30px;
}
.swiper-slide div input{
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    outline: none;
}
.swiper-slide div input:focus{
    border: #1303e9 solid 3px;
    border-color: blue;
}
h1{
    font-size:25px;
    padding: 10px;

}
h2{
    font-size: 18px;
     padding: 5px;
     text-align: left;
}

#prevBtn:hover{
   background-color: #dd0e3b;
}
#nextBtn:hover{
   background-color: #0b5e24;
}
#step-2{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-wrap: wrap;
}
#step-2 section{
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-transform: capitalize;
    row-gap: 20px;
}
#step-2 section label{
    width: 50%;
}
#other{
    width: 30vw;
    padding: 5px 7px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
}

#step-2 h2{
    font-size: 25px;
}